/* --- Variables --- */



:root {
  --blue: #3f9dff;
  --navy: #183365;
  --grey: silver;
}



/* --- Form Styles --- */



.Form {
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
}

.Form .headline {
  color: var(--blue);
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

form input, select {
  height: 3rem;
  margin-bottom: 0.75rem;
  border-radius: 0.2em;
}

form .Input input {
  width: 52rem;
}

form input[type=text] {
  padding-left: 0.5em;
}

label {
  display: block;
  margin: .5rem 0;
}

input, textarea {
  border: 1px solid var(--grey);
  border-radius: 0.2em;
  margin-bottom: 1.5rem;
  padding: 0.5em;
}

textarea {
  width: 52rem;
}

input[type='submit'] {
  width: 20%;
  height: 2em;
  font-family: "Roboto", sans-serif;
  background: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 0.2em;
  box-sizing: content-box;
  color: #fff;
  display: inline-block;
  line-height: 1.2em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 5rem;
  padding: 0.5em 1em;
  font-size: 1.125rem;
  font-weight: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0.5em center;
  background-size: 1em 1em;
}
