/* --- Variables --- */



:root {
  --blue: #3f9dff;
  --navy: #183365;
  --grey: silver;
}



/* --- Form Styles --- */



.Form {
  text-align: left
}

.Form .headline {
  color: var(--blue);
}

form input, select {
  height: 2rem;
}

form .Input input {
  width: 100%;
}

label {
  display: block;
}

input, textarea {
  border: 1px solid var(--grey);
  max-width: 100%;
}

input[type='submit'] {
  font-family: "Roboto", sans-serif;
  background: #4caf50;
  border: 1px solid #9e9e9e;
  border-radius: 0.5em;
  box-sizing: content-box;
  color: #fff;
  display: inline-block;
  line-height: 1.2em;
  margin-right: 0.5em;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0.5em center;
  background-size: 1em 1em;
}
