/* --- Variables --- */



:root {
  --blue: #3f9dff;
  --navy: #183365;
  --grey: silver;
}



/* --- Component Styles --- */



.Form {
  text-align: left
}

.Form .headline {
  color: var(--blue);
}

form input, select {
  height: 2rem;
}

form .Input input {
  width: 100%;
}

label {
  display: block;
}

input, textarea {
  border: 1px solid var(--grey);
  max-width: 100%;
}
