/* TODO: look at their container/breakpoints */

/* mobile */
.ServiceSelection {
	column-count: 1;
}

/* tablet */
@media (min-width: 700px) {
	.ServiceSelection {
		column-count: 2;
	}
}

/* desktop */
@media (min-width: 900px) {
	.ServiceSelection {
		column-count: 3;
	}
}
