/* this is probably already set */
* {
  box-sizing: border-box;
}

.EntryPage {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}



/* --- Container --- */


/* TODO: We should try to match or rely on their container properties */
.EntryPage .container {
  width: 95vw;
  margin: 0 auto;
  max-width: 1060px;
}

.EntryPage .container::before {
  display: table;
  content: "";
}

.EntryPage .container::after {
  display: table;
  clear: both;
  content: "";
}
