/* --- Variables --- */



:root {
  --navy: #183365;
  --grey: silver;
}



/* --- Component Styles --- */



.CategorySelectionCard {
  break-inside: avoid;
  margin-bottom: 33px;
  position: relative;
  border-color: var(--navy) var(--grey) var(--grey);
  border-style: solid;
  border-width: 8px 1px 1px 1px;
  padding: 0 1em;
}

.CategorySelectionCard h3 {
  color: var(--grey);
}

.CategorySelectionCard a {
  color: var(--navy);
}
