/* this is probably already set */
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}



/* --- Container --- */


/* TODO: We should try to match or rely on their container properties */
.App .container {
  width: 95vw;
  margin: 0 auto;
  max-width: 1200px;
}

.App .container::before {
  display: table;
  content: "";
}

.App .container::after {
  display: table;
  clear: both;
  content: "";
}
