/* this is probably already set */
.App * {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

/* --- Container --- */


/* TODO: We should try to match or rely on their container properties */
.App .container {
  width: 95vw;
  margin: 0 auto;
  max-width: 1060px;
}

.App .container::before {
  display: table;
  content: "";
}

.App .container::after {
  display: table;
  clear: both;
  content: "";
}
