/* consider using grid to quickly collapse white space */

/* .CategorySelection {
  display: flex;
  flex-flow: column wrap;
}

@media (min-width: 768px) {
  .CategorySelection {
    display: flex;
    flex-flow: row wrap;
  }
} */
