/* TODO: look at their container/breakpoints */

/* mobile */
.CategorySelection {
	column-count: 1;
}

/* tablet */
@media (min-width: 700px) {
	.CategorySelection {
		column-count: 2;
	}
}

/* desktop */
@media (min-width: 900px) {
	.CategorySelection {
		column-count: 3;
	}
}
